<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RockPaperScissorsLizardSpock!</title>
		<link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
	<h1>Rock Paper Scissors Lizard Spock!</h1>
		<script src="../public/lib/jquery-2.1.1.min.js"></script>
		<script src="../public/lib/Game.js"></script>
		<script src="../public/lib/Player.js"></script>
		<script src="../public/lib/interface.js"></script>

	<section class="choices">
		<img src="../public/images/rock.png" data-pick='rock'>
		<img src="../public/images/paper.png" data-pick='paper'>
		<img src="../public/images/scissors.png" data-pick='scissors'>
		<img src="../public/images/lizard.png" data-pick='lizard'>
		<img src="../public/images/spock.png" data-pick='spock'>
	</section>

<ul>
	<h2 id='result'></h2>
</ul>
</body>
</html>