body {
	font-family: 'Helvetica Neue';
}

.choices img {
	opacity: 0.5;
	width: 15%;
	transition: 1s opacity ease;
}

.choices img:hover {
	opacity: 1;
}

ul {
	list-style: none;
}

li {
background-color: darkgrey;
border-radius: 8px;
padding: 5px;
color: white;
width: 90%;
margin: 5px 5px 5px -30px;
}

footer {
  display: flex;
  background-color: rgba(128, 128, 128, 0.4);
  position: absolute;
  bottom: 0px;
  width: 100%;
}

  footer > * {
    margin: auto inherit;
  }

  footer img {
    vertical-align: top;
  }

  footer #technologies {
    -webkit-flex: 1;
    flex: 1;
  }

  footer p {
    padding: 5px 25px;
  }